details {
    margin-top: 15px;
    margin-bottom: 15px;
}

details summary{
    color:blueviolet;
    font-size: 20px;
    cursor: pointer;
}

details p{
    line-height: 150%;
    margin: 0;
}

p a {
    cursor: pointer;
    color:lightgreen
}