@import 'icons.css';

main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: left;
    margin-left: 15%;
    margin-right: 15%;
    font-size: 24px;
}

.social-links {
    padding-top: 50px;
    display: flex;
    justify-content: center;
    gap: 30px;
}

.description {
    text-align: center;
    font-size: 14px;
}